Body {
  background-color: black;
}

.App {
  color: white;
  text-align: center;
  display: grid;
  grid-template-areas:
    'UserBar'
    'Header'
    'NavigationBar'
    'AllArticles';

  grid-template-rows: auto auto auto auto;
}

.UserBar {
  margin-top: 6px;
  margin-left: 6px;
  grid-area: UserBar;
  text-align: left;
}

.Header{
  grid-area: Header;
  border-radius: 1rem;
  border-width: 1rem;
  font-size:xx-large;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.NavigationBar {
  grid-area: NavigationBar;
  display: inline;
  margin-bottom: 8px;

}

.NavigationBar--link {

  margin-left: 50px;
  margin-right: 5px
}

.AllArticles {
  color: gray;
  text-align: justify;
  grid-area: AllArticles;
  border-top: 1px solid grey;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 2rem;
  margin-left: 0rem;
  list-style-type: none;
  

}

.AllArticles--readLink {
  text-align: end;
  border: 2px solid gray;
  margin-left: 84%;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

.title {
  color: white;
  font-size: medium;
}

.AllArticles--date {
  margin-left: 43%;
  color: gray;
}

.AllArticles--mainTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 7.5%;
  margin-left: 10%;
  border: solid white 2px;
  border-right: -20px;

}

.SingleArticle {
  color: gray;
  text-align: justify;
  border-top: 1px solid grey;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  list-style-type: none;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.SingleArticle--title {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 7.5%;
  margin-left: 10%;
  border: solid white 2px;
  border-right: -20px;
  

}

.SingleArticle--votes {
  text-align: end;
  border-bottom: solid grey 2px;
  margin-left: 79%;
  padding-top: 2px;
  padding-bottom: 2px;
  
}

.SingleArticle--date {
  text-align: end;
  margin-left: 57%;
  
}

.Comments {

  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 4rem;
  margin-right: 10%;
  margin-left: 9%;
  border: solid white 2px;
  border-right: -20px;
}