* {
  margin: 1;
  padding: 0;
}

Body {
  background-color: black;
}

.App {
  color: white;
  text-align: center;
  display: grid;
  grid-template-areas:
    "UserBar"
    "Header"
    "NavigationBar"
    "AllArticles";

  grid-template-rows: auto auto auto auto;
}

.UserBar {
  margin-top: 6px;
  margin-left: 6px;
  grid-area: UserBar;
  text-align: left;
}

.changeUserLink {
  margin-left: 0.5em;
  padding: 3px;
  border: 2px solid gray;
  background-color: white;
  color: black;
}

.Header {
  grid-area: Header;
  border-radius: 1rem;
  border-width: 1rem;
  font-size: xx-large;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.NavigationBar {
  grid-area: NavigationBar;
  display: inline;
  margin-bottom: 8px;
}

.NavigationBar--link {
  border: solid black 2px;
  padding: 3px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.AllArticles {
  color: gray;
  text-align: justify;
  grid-area: AllArticles;
  border-top: 1px solid grey;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 7.5%;
  margin-left: 10%;
  list-style-type: none;
}

.linkAndbutton {
  text-align: end;
  border: 2px solid gray;
  background-color: white;
  margin-left: 79%;
  margin-top: 2em;
  padding: 3px;
}

.title {
  color: white;
  font-size: medium;
  margin-right: 2%;
}

.AllArticles--date {
  text-align: end;
  margin-left: 41%;
  color: gray;
}

.AllArticles--mainTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 7.5%;
  margin-left: 10%;
  border: solid white 2px;
  border-right: -20px;
}

.SingleArticle {
  color: gray;
  text-align: justify;
  border-top: 1px solid grey;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  list-style-type: none;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.SingleArticle--title {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 7.5%;
  margin-left: 10%;
  border: solid white 2px;
  border-right: -20px;
}

.SingleArticle--votes {
  text-align: end;
  border-bottom: solid grey 2px;
  margin-left: 77%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.SingleArticle--date {
  text-align: end;
}

.CommentsCount {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 4rem;
  margin-right: 10%;
  margin-left: 9%;
  border: solid white 2px;
}

.Comments {
  color: gray;
  text-align: justify;
  grid-area: AllArticles;
  border-top: 1px solid grey;
  padding-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
  list-style-type: none;
}

.Comments--date {
  text-align: end;
  margin-left: 57%;
  padding: 0;
}

.Comments--votes {
  text-align: end;
  border-bottom: solid grey 2px;
  margin-left: 75%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.buttonVote {
  text-align: end;
  border: 2px solid gray;
  margin-top: 2em;
  margin-right: 0.5em;
  padding: 3px;
}

.addComment {
  margin-bottom: 2em;
}

.addComment--button {
  margin-bottom: 1em;
  padding: 3px;
  border: 2px solid gray;
}

.User {
  color: gray;
  border-top: 2px solid grey;
  padding-top: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
  list-style-type: none;
}

.User--img {
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.Image {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
}

.User--title {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10%;
  margin-bottom: 2rem;
  margin-left: 10%;
  border: solid white 2px;
}

.User--name {
  text-align: center;
  text-decoration: underline;
  color: white;
  margin-right: 10%;
  margin-bottom: 2rem;
  margin-left: 10%;
  border-bottom: 2px;
  border-right: -20px;
}

.User--username {
  text-align: center;
  color: white;
  margin-right: 7.5%;
  margin-bottom: 2rem;
  margin-left: 10%;
  border-bottom: 2px;
  border-right: -20px;
  padding-top: 1rem;
  line-height: 1;
}

.CurrentUser {
  color: gray;
  text-align: center;
  border-top: 1px solid grey;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  list-style-type: none;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.changeUserButton {
  text-align: end;
  border: 2px solid gray;
  padding: 3px;
}

.ErrorMsg {
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 7.5%;
  margin-left: 10%;
  border: solid red 2px;
  border-right: -20px;
}

@media screen and (min-width: 600px) {
  .AllArticles {
    color: gray;
    text-align: justify;
    grid-area: AllArticles;
    border-top: 1px solid grey;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 20%;
    margin-left: 20%;
    list-style-type: none;
  }

  .linkAndbutton {
    text-align: end;
    border: 2px solid gray;
    background-color: white;
    margin-left: 90%;
    margin-top: 2em;
    padding: 3px;
  }

  .title {
    color: white;
    font-size: medium;
    margin-right: 2%;
  }

  .AllArticles--date {
    text-align: end;
    margin-left: 80%;
    color: gray;
  }

  .AllArticles--mainTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 7.5%;
    margin-left: 10%;
    border: solid white 2px;
    border-right: -20px;
  }

  .SingleArticle {
    color: gray;
    text-align: justify;
    border-top: 1px solid grey;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2rem;
    list-style-type: none;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
  }

  .SingleArticle--title {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 55px;
    margin-right: 7.5%;
    margin-left: 10%;
    border: solid white 2px;
    border-right: -20px;
  }

  .Comments {
    color: gray;
    text-align: justify;
    grid-area: AllArticles;
    border-top: 1px solid grey;
    padding-bottom: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 20%;
    margin-left: 20%;
    list-style-type: none;
  }
  
  .Comments--date {
    text-align: end;
    margin-right: 5%;
  }
  
  .Comments--votes {
    text-align: end;
    margin-right: 5%;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .User {
    color: gray;
    border-top: 1px solid grey;
    padding-top: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3rem;
    list-style-type: none;
  }
}
